body {
  background-color: #f0f8ff; /* azul clarito */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #333366;
  background-color: white;
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}